<h1 class="mainPage">Welcome to {{title}}</h1>
<h3 class="secondTitle">Upload your image to get the recipe!</h3>
<div id="indexMainDiv">
  <form action="/upload-file-form" enctype="multipart/form-data" method="post" id="theform">
    <div id="file-has-name" class="file has-name">
      <label class="file-label">
        <input id="theinputfield" class="file-input" type="file" name="thefile" accept="image/*">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa fa-upload"></i>
          </span>
          <span class="file-label">
            Select Image to Upload!
          </span>
        </span>
        <span class="file-name">
        </span>
      </label>
    </div>

    <div id="uploadButtonDiv">
      <input type = "button" class = "button is-success" value="Upload Image" accept="image/*" id="theAjaxButton">
      <!--<input id="theSubmitButton" class="button is-success" type="submit" value="Upload Image" >-->
    </div>
  </form>

</div>


<!-- <a href="/searh-image"><button> Vision </button></a> -->

<!--<div id="ajaxResponse">(...)</div>-->
