
  <h1 class="title">Welcome to {{title}}</h1>
  <div id="indexMainDiv">
      <div id="indexDragDropDiv" ondrop="drop(event)" ondragover="allowDrop(event)">
      <label for="file" id="dragAndDropLabel"><span class="box__dragndrop"><strong>Drag and drop here</strong></span>.</label>
    </div>

<div id="indexFormDiv">
<form action="/upload-file-form" enctype="multipart/form-data" method="post" id="theform">
    <div id="chooseButtonDiv">
      <input id="theinputfield" type="file" name="thefile" accept="image/*">
    </div>
    <div id="uploadButtonDiv">
      <!-- <input id="theSubmitButton" class="button is-success" type="submit" value="Upload Image" > -->
      <input type="button" class="button is-success" value="Upload Image" id="theAjaxButton">
    </div>
  </form>
  </div>
</div>y

<!-- <a href="/searh-image"><button> Vision </button></a> -->

<!--<div id="ajaxResponse">(...)</div>-->
