  <h1 class="searchPage">Here you go!</h1>
  <div id="requestedFoodImage">
    <img src="../images/test1.jpeg" style="width:304px;height:228px;">
  </div>
  <div class="oval">
    <label id="didYouMean"><span class="didYouMeanOval"><strong>Or This??</strong></span></label>
  </div>
