body {
  padding: 50px;
  background-image: url("../images/IMG_373651.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.mainPage{
  text-align: center;
  margin-top: 70px;
  font-family: Papyrus, fantasy;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 30px;
}

.secondTitle{
  text-align: center;
  margin-top: 70px;
  font-family: Papyrus, fantasy;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 10px;
}

.searchPage{
  text-align: center;
  margin-top: 20px;
  font-family: Papyrus, fantasy;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 30px;
}


.box__dragndrop{
  top: 0;
  left: 100%;
}

#dragAndDropLabel {
    position: relative;
    top: 40%;
}
#indexDragDropDiv {
  text-align: center;
  background-color: #A9A9A9;
  outline: 2px dashed black;
  outline-offset: -10px;
  height:150px;
  width: 500px;
  margin-left: 370px;
  margin-top: 100px;
  opacity: 0.4;-fa
}

#theSubmitButton{
  text-align: center;
  margin-top: 10px;
}

#requestedFoodImage{
  margin-top: 40px;
  text-align: center;
}

#indexMainDiv{
  margin-left: 440px;
  margin-top: 80px;
}

#uploadButtonDiv{
  margin-left: 150px;
  margin-top: 20px;
}

img{
  margin-left: 10px;
  border-radius: 100%;
}

.didYourMeanTag{

  text-align: center;
  margin-top: 15px;
  font-family: Papyrus, fantasy;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 10px;

}

#recipeOptionsList{
  margin-top: 10px;
}

a:link {
  color: #696969;
}

.file-name{
  border: 1px solid #999;
background-color: #d9d8d3;
}
